/*----------------------GENERAL-----------------------------*/
body {
	font-family: 'Jacques Francois', serif;
}
#wrapper {
	max-width: 940px; /*---common property and value---*/
	margin: 0 auto; /*---this margin makes #wrapper center in the browser window---*/  
	padding: 0 5%;
}

a {
	text-decoration: none;
}

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: goldenrod;
	clear: both; /*allow the footer to be clear of any floated elements*/
}

.social {
	width: 40px;
	height: 40px;
	margin: 0 5px;
}


img {
	max-width: 100%; /* adjust size of image to fix with parents elements */
}


/*----------------------HEADING-----------------------------*/
header {
	background: #3b82b3;
	border-color: greenyellow;
}

header {
	float: left;
	margin: 0 0 50px 0;
	padding: 25px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
	text-shadow: 0 2px 0;
	font-weight: bold;
}


/*-----------NAVIGATION--------------*/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	text-shadow: 0 2px 0;
}
/*---nav background color for mobile---*/
nav {
	background: lightblue;
}

/*---nav links--*/
/*---this nav means when user click, it doesn't change the color---*/
nav a, nav a:visited {
	color: gold;
}

/*---this nav means a hover state for navigation links that changes the text color ---*/
nav a.selected, nav a:hover {
	color: white;
}

nav ul {
	list-style: none;
	margin: 10px 0;
	padding: 10px 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: bold;
	padding: 15px 10px;
}
/*-----------------------------------*/

/*---text logo---*/
h1, h2 {
	color: gold;
}

h1 {
	font-family: 'Lusitana', serif;
	margin: auto;
	font-size: 2.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 1.75em;
	margin: 5px 0 0;
	font-weight: normal;
}





/*-------------------------BODY------------------------------*/
body {
	background-color: white;
	color: grey;
}

/******PORTFOLIO page*******/
/*---adjust gallery: remove bullets before img, margin, and padding---*/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*---seperate gallery to 2 columns: width for each pic in one row is 45%, space around each pic is 2.5% => 2.5*4=10% ; 10% + (45*2) = 100%*/
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}


#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: goldenrod;
}

/******ABOUT page******/
.profile-pic {
	display: block;
	margin: 200px 0 30px 0;
	width: 280px;
	border-radius: 50%;
}

/*****CONTACT*******/
.contact {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.contact a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact li.phone a {
	background-image: url("../img/phone.png");
}

.contact li.mail a {
	background-image: url("../img/mail.png");
}

.contact li.facebook a {
	background-image: url("../img/facebook.png");
}

.contact li.twitter a {
	background-image: url("../img/twitter.png");
}